*
!.gitignore
!composer.lock
!composer.json
!composer.json
!README.md
!exampleAdvanced.xlsx
!exampleMinimal.xlsx
!convert.php
!LICENSE
!exampleFiles/*
!native.xsd
!pkp-native.xsd
!importexport.xsd
!OJS_3.3_Native_Sample.xml
!config.ini